[project]
	description = test git project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dantov87
[access "refs/for/refs/*"]
	read = group user/dantov87
	push = group user/dantov87
	label-Code-Review = -2..+2 group user/dantov87
	label-Verified = -1..+1 group user/dantov87
	rebase = group user/dantov87
	removeReviewer = group user/dantov87
	submit = group user/dantov87
[access "refs/heads/*"]
	read = group user/dantov87
	create = group user/dantov87
	push = +force group user/dantov87
	pushMerge = group user/dantov87
[access "refs/tags/*"]
	push = +force group user/dantov87
	pushTag = group user/dantov87
	pushSignedTag = group user/dantov87
